<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woalk.apps.xposed.ttsb"
    android:versionCode="19"
    android:versionName="Beta 3.2" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".ActivitiesActivity"
            android:label="@string/title_activity_activities"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".EasySettingsActivity"
            android:label="@string/title_activity_easy_settings"
            android:launchMode="singleTask"
            android:parentActivityName=".ActivitiesActivity" >
        </activity>
        <activity
            android:name=".RulesActivity"
            android:label="@string/title_activity_rules"
            android:launchMode="singleTask"
            android:parentActivityName=".EasySettingsActivity" >
        </activity>
        <activity
            android:name=".legacy.SyncActivity"
            android:label="@string/title_activity_sync"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".community.MyAppsActivity"
            android:label="@string/title_activity_my_apps"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".community.AppDetailsActivity"
            android:label="@string/title_activity_app_details"
            android:parentActivityName=".community.MyAppsActivity" >
        </activity>
        <activity
            android:name=".community.OneSubmitActivity"
            android:label="@string/title_activity_one_submit"
            android:parentActivityName=".community.AppDetailsActivity"
            android:windowSoftInputMode="adjustResize|stateUnchanged" >
        </activity>
        <activity
            android:name=".community.OneUserActivity"
            android:label="@string/title_activity_one_user"
            android:parentActivityName=".community.OneSubmitActivity" >
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Custom system bar tinting using the KitKat gradient (&quot;translucent mode&quot;)." />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
        <meta-data
            android:name="tintengine_version"
            android:value="\ 2.2" />
        <meta-data
            android:name="ui_version"
            android:value="\ 2.2.4" />

        <activity
            android:name="com.woalk.apps.xposed.ttsb.community.NotificationsActivity"
            android:label="@string/title_activity_notifications"
            android:parentActivityName=".community.MyAppsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.woalk.apps.xposed.ttsb.community.MyAppsActivity" />
        </activity>
    </application>

</manifest>
